<template>
  <div id="app">
    <section>
      <h3>Debounce Example</h3>
      <div> Count: {{ count }} </div>
      <div> 三秒只會執行一次 </div>
      <button @click="handleDebounceClick">用力按看看會不會有用</button>
    </section>

    <hr>

    <section>
      <h3>Catch Exception Example</h3>
      <button @click="handleThrow1">Throw exception abc</button>
      <button @click="handleThrow2">Throw exception cdf</button>
    </section>
  </div>
</template>

<script>
import Debounce from './decorators/debounce'
import Trycatch from './decorators/auto_catch'

export default {
  name: 'app',
  data() {
    return {
      count: 0
    }
  },
  methods: {
    @Debounce()
    handleDebounceClick(abcd) {
      this.count += 1
    },
    @Trycatch('')
    async handleThrow1() {
      throw Error('abc')
    },
    @Trycatch('')
    async handleThrow2() {
      throw Error('cdf')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
